.portfolio_container{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
}

.overflowFix{
    margin-bottom: 80rem;
}
#gm{
    margin-bottom: 64px;
}


.portfolio_item{
    backdrop-filter: blur(25px);
    background: rgba(0,0,0,0.6);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}


.portfolio_item:hover{
    backdrop-filter: blur(50px);
    background: rgba(0,0,0,0.8);
}

.portfolio-img{
    width: 350px;
    height: 200px;
    border-radius: 1.5rem;

}
.portfolio_item h3{
    margin: 1.2rem 0 0.5rem;
    
}

.portfolio_item>p{
    color: var(--color-light);
    font-weight: 500;

}


.portfolio_item-cta{
    display: flex;
    gap: 1rem;

    margin: 1rem;
    margin-left: 0rem;

}

.soon{
    margin-top: 2rem;
    text-align: center;
    padding-top: 10rem;
}

@media screen and (max-width: 1024px) {
    .portfolio_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;

    }

   
}

@media screen and (max-width: 600px) {
    .portfolio_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .overflowFix{
        margin-top: 50vh;
        margin-bottom: 200rem;
    }

    .soon{
        padding-top: 1rem;
        margin-top: 1rem;
    }
}