header{
    height: 100vh;
    padding-top: 20rem;
    overflow: hidden;
}


.header__container{
    text-align: center;
    height: 100%;
    position: relative;
    width: 100%;
}

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials {
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-pink);
}

.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    padding: 4px;
    font-weight: 500;
    color: rgba(70,70,70,0.5);
}

/* Media querys (very tiny devices lol) */

@media screen and (max-height: 800px) {
    header{
        padding-top: 10rem;
    }

   
}

