header{
    height: 100vh;
    padding-top: 20rem;
    overflow: hidden;
}


.header__container{
    text-align: center;
    height: 100%;
    position: relative;
    width: 100%;
}

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials {
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-pink);
}

.scrolldown-s{
    padding-top: 7rem;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.4);
    transition: var(--transition);



}



.down_arrow{
    font-size: 2rem;
}

/* Media querys (very tiny devices lol) */

@media screen and (max-height: 800px) {
    header{
        padding-top: 10rem;
    }

   
}

